
.modal-container {
    /* border: 2px solid red ; */
    background-color: white;
    width: 60%;
    height: 90%;
    min-width: 1050px;
    min-height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.new-wheel-title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    justify-content: space-between;
    padding-right: 2px;
}

.modal-title{
    margin-top: 25px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    margin-left: 15%;
    font-size: 30px;
}

.add-close-button {
    display: flex;
}

#new-wheel-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

#new-wheel-close-button:hover {
    transform: rotate(360deg);
}

.empty{
    margin-top: 15px;
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
}

#input-text{
    width: 350px;
    height: 99%;
    font-size: larger;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.625);
    border-radius: 5px;
    margin-right: 2px;
    z-index: 10;
}

.add-button-container{
    padding-right: 5px;
    display: flex;
    height: 80%;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
}
.save-button{
    all:unset;
    font-size: 19px;
    border: 1px solid #CCC ;
    border-radius: 10px;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 150px;
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.save-button:hover{
    background-color: white;
}
