
.about-container{
    background-color: #E0cdcf;
    height: 90vh;
    display: flex;
}

.tab-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.empty-block{
    height: 10%;
}

.tab-text{
    border-right: 1px solid rgba(128, 128, 128, 0.149);
    font-size: 25px;
    padding: 5%;
    display: flex;
    justify-content: end;
}

.tab-text:hover{
    background: whitesmoke;
	transition: all 0.5s linear;
    border-right: 10px solid rgba(128, 128, 128, 0.375);
}

.tab-content{
    width: 100%;
}

.tab-content-detail{
    /* border: 2px solid yellow; */
    position: absolute;
    margin-left: 20vw;
    margin-top: -30vh;
    background-color: #E0cdcf;
    min-width: 60vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container>.tab-text:nth-child(1):hover~.tab-content>.tab-content-detail:nth-child(1),
.tab-container>.tab-text:nth-child(2):hover~.tab-content>.tab-content-detail:nth-child(2),
.tab-container>.tab-text:nth-child(3):hover~.tab-content>.tab-content-detail:nth-child(3),
.tab-container>.tab-text:nth-child(4):hover~.tab-content>.tab-content-detail:nth-child(4),
.tab-container>.tab-text:nth-child(5):hover~.tab-content>.tab-content-detail:nth-child(5),
.tab-content-detail:hover{
    z-index: 6;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

#about-meals4u{
    color: rgba(128, 128, 128, 0.302); 
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    display: flex;
    justify-content: end;
}

.about-meals4u{
    /* border: 2px solid rgba(128, 128, 128, 0.302);   */
    padding: 50px;
    background-color: #E0cdcf;
    height: 60vh;
    width: 60vw;
    font-size: 50px;
    font-family: 'Sriracha', cursive;
}

.about-developers {
    display: flex;
}

.about-developer {
    height: 60vh;
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.developer-img {
    width: 120px;
    height: 120px;
    margin: auto;
    /* border: 1px solid black; */
}

.developer-links {
    height: 99px;
    width: 100px;
    /* border: 1px solid black; */
    margin: auto;
    color: transparent;
} 

.developer-link-icon{
    width: 45px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    /* border: 1px solid black; */
}


.instruction-text-containoer{
    /* border: 2px solid rgba(128, 128, 128, 0.302);   */
    padding: 50px;
    background-color: #E0cdcf;
    height: 60vh;
    width: 60vw;
}

#about-instruction-title {
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    font-weight: bold;
}

.about-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: inside;
    margin: 5px;
    height: 130px;
    width: 60vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.about-instruction-visualizer {
    width: 150px;
    height: 150px;
    height: max-content;
}

#about-instruction-visualizer {
    width: 150px;
    height: 150px;
    height: max-content;
}

.about-incentives-container {
    margin: 50px 0;
}

.incentive-container{
    /* border: 2px solid rgba(128, 128, 128, 0.302);   */
    padding: 50px;
    background-color: #E0cdcf;
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
