@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.header-profile-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.profile-message {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}

#basic-button {
    color: black;
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: 'Sriracha', cursive;
}