.mainpage{
    /* height: 100vh; */
    width: 100vw;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinwheel-container{
    background-color: #d4babe;
    /* min-height: ; */
}
/* bottom  */
.mainpage-bottom{
    background-color: #be9ea3;
    height: 250px;
    object-fit: fill;
    box-shadow: 0 1px 6px 0 #22222226;
    border: 1px solid #22222226;
}
.mainpage-bottom{
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 40px;
}
.info-slogan{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}
.info-container{
    display: flex;
    margin-top: 20px;
    height: 100%;
}
.info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #22222226;
    border-right: 1px solid #22222226;
    height: 100%;
    width:25% ;
    font-size: 30px;
    flex-direction: column;
    position: relative;
}
#info-1, #info-3{
    background-color: #b8b0b1;
    /* background-color: #be9ea3; */
}
#info-2, #info-4{
    background-color: #abd4eb;
    /* background-color: white; */
}
.info-pic{
    position: absolute;
    top:15px;
}
/* footer  */
.footer{
    background-color:#d4babe ;
}