@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.explore-wrapper{
    display: flex;
    background-color: #e0cdcf;
}
.index-page {
    width: 100%;
    height: 100vh;
    /* background-color: #e0cdcf; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.index-title {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.index-buttons {
    display: flex;
    flex-direction: column;
}

.index-button-container {
    width: 700px;
    margin-bottom: 40px;
}

#google-button {
    width: 100%;
    height: 50px;
    background-color: #adccdf;
}

.pop-up {
    width: 250px;
    height: 360px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pop-list {
    width: 100%;
    height: 260px;
    overflow-y: scroll;
}

#content-list {
    margin: 10px;
}

.index-buttons {
    overflow-y: scroll;
    width: 750px;
    height: 600px;
}

.refresh-button {
    margin-bottom: 30px;
    height: 40px;
    font-size: large;
    display: flex;
    align-items: center;
}

#refresh-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#save-button {
    border-radius: 10px;
    background-color: aqua;
    border: none;
    width: 200px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Sriracha', cursive;
}

#save-button:hover {
    background-color:cadetblue;
    color: white;
}

.pop-up-top-container {
    width: 100%;
    height: 270px;
    display: flex;
}

.pop-up-own-mark {
    width: 25px;
    height: 50px;
}

#save-alert {
    z-index: 1;
    width: 400px;
    position: absolute;
    right: 0;
}

.save-wheel-new-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    margin-bottom: 5px;
}
#new-wheel-name {
    width: 80%;
}
/* instruction */
.explore-instruction-content li{
    display: flex;
}
.explore-instruction-content span{
    color: red;
}