.index-page {
    width: 100%;
    height: 900px;
    background-color: #e0cdcf;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.index-title {
    font-size: 2rem;
    margin-top: 10px;
}

.index-container {
    width: 95%;
    height: 98%;
    margin-top: 20px;
    overflow-y: scroll;
}

