
.header{
    background-color: #d4babe;
    width: 100%;
    min-width: 850px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-logo-container{
    width: 40%;
    min-width: 300px;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
#header-logo{
    height: auto;
    width: 30%;
    margin-left: 10%;
}

.header-button-container{
    display: flex;
    flex: right; 
    height: 9vh;
    width: 30%;
    min-width: 500px;
    justify-content: space-around;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header-button{
    background-color: #a29e9e5c;
    width: 20%;
    min-width: 150px;
    height: 40%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sriracha', cursive;
    font-size: x-large;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.center-nav {
    display: flex;
    width: 600px;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-right: 150px;
}

.active:visited {
    color: yellow;
}

.inactive {
    color: black;
    text-decoration: none;
}