@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.header{
    background-color: #E0cdcf;
    width: 100%;
    min-width: 850px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-logo-container{
    width: 40%;
    min-width: 300px;
    height: 9vh;
    /* display: flex; */
    justify-content: left;
}

#header-logo{
    height: auto;
    width: 30%;
    margin-left: 10%;
}

.header-button-container{
    display: flex;
    flex: right; 
    height: 9vh;
    width: 40%;
    min-width: 500px;
    justify-content: space-around;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.center-nav {
    display: flex;
    border: 1px solid black;
    width: 900px;
    justify-content: space-between;
    font-size: 2rem;
}